Repository TeamDivers/Soar, pull requests merged in 2023-08, with the labels that each got.

#15 Mockup 서버 기본 구현 완료
  server/build.gradle
  server/src/main/java/com/konkuk/soar/SoarApplication.java
  server/src/main/java/com/konkuk/soar/common/config/OpenApiConfig.java
  server/src/main/java/com/konkuk/soar/common/domain/BaseTime.java
  server/src/main/java/com/konkuk/soar/common/dto/BaseResponse.java
  server/src/main/java/com/konkuk/soar/common/dto/file/response/FileResponseDto.java
  server/src/main/java/com/konkuk/soar/common/dto/tag/response/TagListResponseDto.java
  server/src/main/java/com/konkuk/soar/common/enums/FileType.java
  server/src/main/java/com/konkuk/soar/global/exception/NotFoundException.java
  server/src/main/java/com/konkuk/soar/portfolio/controller/PortfolioController.java
  server/src/main/java/com/konkuk/soar/portfolio/controller/ProjectController.java
  server/src/main/java/com/konkuk/soar/portfolio/domain/portfolio/Portfolio.java
  server/src/main/java/com/konkuk/soar/portfolio/dto/portfolio/response/PortfolioMetaResponseDto.java
  server/src/main/java/com/konkuk/soar/portfolio/dto/portfolio/response/PortfolioOverviewDto.java
  server/src/main/java/com/konkuk/soar/portfolio/dto/portfolio/response/PortfolioResponseDto.java
  server/src/main/java/com/konkuk/soar/portfolio/dto/portfolio/response/PortfolioReviewResponseDto.java
  server/src/main/java/com/konkuk/soar/portfolio/dto/project/response/ProjectMetaResponseDto.java
  server/src/main/java/com/konkuk/soar/portfolio/dto/project/response/ProjectResponseDto.java
  server/src/main/java/com/konkuk/soar/portfolio/enums/OptionType.java
  server/src/main/java/com/konkuk/soar/portfolio/repository/PortfolioRepository.java
  server/src/main/java/com/konkuk/soar/portfolio/service/PortfolioService.java
  server/src/main/java/com/konkuk/soar/portfolio/service/ProjectService.java
  server/src/main/java/com/konkuk/soar/portfolio/service/SimplePortfolioService.java
  server/src/main/java/com/konkuk/soar/studyhistory/controller/StudyHistoryController.java
  server/src/main/java/com/konkuk/soar/studyhistory/domain/StudyHistory.java
  server/src/main/java/com/konkuk/soar/studyhistory/dto/response/StudyHistoryCalendarDto.java
  server/src/main/java/com/konkuk/soar/studyhistory/dto/response/StudyHistoryOverviewDto.java
  server/src/main/java/com/konkuk/soar/studyhistory/dto/response/StudyHistoryResponseDto.java
  server/src/main/java/com/konkuk/soar/studyhistory/repository/StudyHistoryRepository.java
  server/src/main/java/com/konkuk/soar/studyhistory/service/SimpleStudyHistoryService.java
  server/src/main/java/com/konkuk/soar/studyhistory/service/StudyHistoryService.java
  server/src/main/resources/data.sql
  server/src/main/resources/mock/portfolio.json
Labels: enhancement, server

#17 gradle-wrapper 업로드
  server/.gitignore
  server/gradle/wrapper/gradle-wrapper.jar
Labels: bug, server

#22 테스크 코드에 변경된 DTO 클래스 적용
  server/src/test/java/com/konkuk/soar/studyhistory/dto/response/StudyHistoryResponseDtoTest.java
Labels: bug, server

#24 도메인 변경에 따른 오류와 배포 관련 DDL 변경
  server/src/main/resources/data.sql
  server/src/test/java/com/konkuk/soar/SoarApplicationTests.java
  server/src/test/java/com/konkuk/soar/TestEntityFactory.java
  server/src/test/java/com/konkuk/soar/portfolio/dto/project/response/ProjectResponseDtoTest.java
  server/src/test/java/com/konkuk/soar/studyhistory/dto/response/StudyHistoryResponseDtoTest.java
Labels: bug, server

#27 컨트롤러 공통 ExceptionHandler 구현
  server/src/main/java/com/konkuk/soar/common/dto/BaseResponse.java
  server/src/main/java/com/konkuk/soar/common/dto/BaseResponseStatus.java
  server/src/main/java/com/konkuk/soar/global/exception/ExceptionResult.java
  server/src/main/java/com/konkuk/soar/global/exception/NotFoundException.java
  server/src/main/java/com/konkuk/soar/global/exception/handler/GlobalExceptionHandler.java
  server/src/main/java/com/konkuk/soar/portfolio/service/SimplePortfolioService.java
Labels: enhancement, server

#38 컨트롤러 공통 ExceptionHandler 구현
  server/src/main/java/com/konkuk/soar/common/dto/BaseResponse.java
  server/src/main/java/com/konkuk/soar/common/dto/BaseResponseStatus.java
  server/src/main/java/com/konkuk/soar/global/exception/ExceptionResult.java
  server/src/main/java/com/konkuk/soar/global/exception/NotFoundException.java
  server/src/main/java/com/konkuk/soar/global/exception/handler/GlobalExceptionHandler.java
  server/src/main/java/com/konkuk/soar/portfolio/service/SimplePortfolioService.java
Labels: enhancement, server

#31 로그인 성공시 리다이렉트되게 변경
  server/src/main/java/com/konkuk/soar/common/config/oauth/OAuth2SuccessHandler.java
Labels: enhancement, server

#40 redirect주소 referer로 변경
  server/src/main/java/com/konkuk/soar/common/config/oauth/OAuth2SuccessHandler.java
Labels: bug, server

#45 로그 수집 설정
  server/.gitignore
  server/src/main/resources/logback-spring.xml
Labels: enhancement, server

#52 포트폴리오 랭킹 로직 구현
  server/src/main/java/com/konkuk/soar/portfolio/controller/PortfolioController.java
  server/src/main/java/com/konkuk/soar/portfolio/dto/portfolio/PortfolioScore.java
  server/src/main/java/com/konkuk/soar/portfolio/dto/portfolio/response/PortfolioOverviewDto.java
  server/src/main/java/com/konkuk/soar/portfolio/dto/portfolio/response/PortfolioResponseDto.java
  server/src/main/java/com/konkuk/soar/portfolio/repository/PortfolioReviewRepository.java
  server/src/main/java/com/konkuk/soar/portfolio/service/PortfolioService.java
  server/src/main/java/com/konkuk/soar/portfolio/service/SimplePortfolioService.java
Labels: enhancement, server

#54 docs: swagger description 수정
  server/src/main/java/com/konkuk/soar/portfolio/dto/portfolio/response/PortfolioOverviewDto.java
  server/src/main/java/com/konkuk/soar/portfolio/dto/portfolio/response/PortfolioResponseDto.java
Labels: documentation, server

#62 검색 기능 구현
  server/src/main/java/com/konkuk/soar/member/controller/MemberController.java
  server/src/main/java/com/konkuk/soar/member/repository/MemberRepository.java
  server/src/main/java/com/konkuk/soar/member/service/MemberService.java
  server/src/main/java/com/konkuk/soar/member/service/SimpleMemberService.java
  server/src/main/java/com/konkuk/soar/portfolio/controller/PortfolioController.java
  server/src/main/java/com/konkuk/soar/portfolio/repository/PortfolioRepository.java
  server/src/main/java/com/konkuk/soar/portfolio/service/PortfolioService.java
  server/src/main/java/com/konkuk/soar/portfolio/service/SimplePortfolioService.java
  server/src/main/resources/data.sql
Labels: enhancement, server

#63 S3 파일업로드 구현
  server/build.gradle
  server/src/main/java/com/konkuk/soar/common/config/S3Config.java
  server/src/main/java/com/konkuk/soar/common/controller/AwsController.java
  server/src/main/java/com/konkuk/soar/common/dto/file/request/FileCreateDto.java
  server/src/main/java/com/konkuk/soar/common/service/AwsS3Service.java
  server/src/main/java/com/konkuk/soar/common/service/FileService.java
  server/src/main/java/com/konkuk/soar/common/service/SimpleFileService.java
Labels: enhancement, server

#73 프로젝트, 학습기록 생성할 때 파일 업로드 기능 구현
  server/src/main/java/com/konkuk/soar/common/service/FileService.java
  server/src/main/java/com/konkuk/soar/common/service/SimpleFileService.java
  server/src/main/java/com/konkuk/soar/global/exception/NotFoundException.java
  server/src/main/java/com/konkuk/soar/portfolio/controller/ProjectController.java
  server/src/main/java/com/konkuk/soar/portfolio/dto/project/request/ProjectCreateDto.java
  server/src/main/java/com/konkuk/soar/portfolio/service/ProjectService.java
  server/src/main/java/com/konkuk/soar/portfolio/service/SimpleProjectService.java
  server/src/main/java/com/konkuk/soar/studyhistory/controller/StudyHistoryController.java
  server/src/main/java/com/konkuk/soar/studyhistory/dto/request/StudyHistoryCreateDto.java
  server/src/main/java/com/konkuk/soar/studyhistory/service/SimpleStudyHistoryService.java
  server/src/main/java/com/konkuk/soar/studyhistory/service/StudyHistoryService.java
Labels: enhancement, server

#70 RedirectURI에 토큰 전달
  server/src/main/java/com/konkuk/soar/common/config/oauth/OAuth2SuccessHandler.java
Labels: enhancement, server

#76 Member에 thumbnail 추가
  server/src/main/java/com/konkuk/soar/member/controller/MemberController.java
  server/src/main/java/com/konkuk/soar/member/domain/Member.java
  server/src/main/java/com/konkuk/soar/member/dto/response/MemberResponseDto.java
  server/src/main/java/com/konkuk/soar/member/service/MemberService.java
  server/src/main/java/com/konkuk/soar/member/service/SimpleMemberService.java
Labels: enhancement, server

#80 feat: cors 해결 (#79)
  server/src/main/java/com/konkuk/soar/common/controller/AwsController.java
  server/src/main/java/com/konkuk/soar/member/controller/MemberController.java
  server/src/main/java/com/konkuk/soar/portfolio/controller/PortfolioController.java
  server/src/main/java/com/konkuk/soar/portfolio/controller/ProjectController.java
  server/src/main/java/com/konkuk/soar/studyhistory/controller/StudyHistoryController.java
  server/src/main/resources/data.sql
Labels: bug, enhancement, server

#81 Swagger 최신화
  server/src/main/java/com/konkuk/soar/common/dto/BaseResponse.java
  server/src/main/java/com/konkuk/soar/common/dto/file/response/FileResponseDto.java
  server/src/main/java/com/konkuk/soar/common/dto/tag/request/TagCreateDto.java
  server/src/main/java/com/konkuk/soar/common/dto/tag/response/TagListResponseDto.java
  server/src/main/java/com/konkuk/soar/member/dto/request/MemberUpdateRequestDto.java
  server/src/main/java/com/konkuk/soar/portfolio/dto/portfolio/request/PortfolioCreateDto.java
  server/src/main/java/com/konkuk/soar/portfolio/dto/portfolio/request/PortfolioCreateLargeDto.java
  server/src/main/java/com/konkuk/soar/portfolio/dto/portfolio/response/PortfolioOverviewDto.java
  server/src/main/java/com/konkuk/soar/portfolio/dto/portfolio/response/PortfolioResponseDto.java
  server/src/main/java/com/konkuk/soar/portfolio/dto/portfolio/response/PortfolioReviewResponseDto.java
  server/src/main/java/com/konkuk/soar/portfolio/dto/project/request/ProjectCreateDto.java
  server/src/main/java/com/konkuk/soar/portfolio/dto/project/response/ProjectOverviewDto.java
  server/src/main/java/com/konkuk/soar/portfolio/dto/project/response/ProjectResponseDto.java
  server/src/main/java/com/konkuk/soar/studyhistory/dto/request/StudyHistoryCreateDto.java
  server/src/main/java/com/konkuk/soar/studyhistory/dto/response/StudyHistoryCalendarDto.java
  server/src/main/java/com/konkuk/soar/studyhistory/dto/response/StudyHistoryOverviewDto.java
  server/src/main/java/com/konkuk/soar/studyhistory/dto/response/StudyHistoryResponseDto.java
  server/src/main/resources/data.sql
Labels: documentation, server

#82 백엔드 1차 릴리즈
  server/build.gradle
  server/src/main/java/com/konkuk/soar/common/config/S3Config.java
  server/src/main/java/com/konkuk/soar/common/config/oauth/OAuth2SuccessHandler.java
  server/src/main/java/com/konkuk/soar/common/controller/AwsController.java
  server/src/main/java/com/konkuk/soar/common/domain/File.java
  server/src/main/java/com/konkuk/soar/common/dto/BaseResponse.java
  server/src/main/java/com/konkuk/soar/common/dto/file/request/FileCreateDto.java
  server/src/main/java/com/konkuk/soar/common/dto/file/response/FileResponseDto.java
  server/src/main/java/com/konkuk/soar/common/dto/tag/request/TagCreateDto.java
  server/src/main/java/com/konkuk/soar/common/dto/tag/response/TagListResponseDto.java
  server/src/main/java/com/konkuk/soar/common/service/AwsS3Service.java
  server/src/main/java/com/konkuk/soar/common/service/FileService.java
  server/src/main/java/com/konkuk/soar/common/service/SimpleFileService.java
  server/src/main/java/com/konkuk/soar/global/exception/NotFoundException.java
  server/src/main/java/com/konkuk/soar/member/controller/MemberController.java
  server/src/main/java/com/konkuk/soar/member/domain/Member.java
  server/src/main/java/com/konkuk/soar/member/dto/request/MemberUpdateRequestDto.java
  server/src/main/java/com/konkuk/soar/member/dto/response/MemberResponseDto.java
  server/src/main/java/com/konkuk/soar/member/repository/MemberRepository.java
  server/src/main/java/com/konkuk/soar/member/service/MemberService.java
  server/src/main/java/com/konkuk/soar/member/service/SimpleMemberService.java
  server/src/main/java/com/konkuk/soar/portfolio/controller/PortfolioController.java
  server/src/main/java/com/konkuk/soar/portfolio/controller/ProjectController.java
  server/src/main/java/com/konkuk/soar/portfolio/domain/id/PortfolioAndFileId.java
  server/src/main/java/com/konkuk/soar/portfolio/domain/portfolio/Portfolio.java
  server/src/main/java/com/konkuk/soar/portfolio/domain/portfolio/PortfolioFile.java
  server/src/main/java/com/konkuk/soar/portfolio/dto/portfolio/request/PortfolioCreateDto.java
  server/src/main/java/com/konkuk/soar/portfolio/dto/portfolio/request/PortfolioCreateLargeDto.java
  server/src/main/java/com/konkuk/soar/portfolio/dto/portfolio/response/PortfolioOverviewDto.java
  server/src/main/java/com/konkuk/soar/portfolio/dto/portfolio/response/PortfolioResponseDto.java
  server/src/main/java/com/konkuk/soar/portfolio/dto/portfolio/response/PortfolioReviewResponseDto.java
  server/src/main/java/com/konkuk/soar/portfolio/dto/project/request/ProjectCreateDto.java
  server/src/main/java/com/konkuk/soar/portfolio/dto/project/response/ProjectOverviewDto.java
  server/src/main/java/com/konkuk/soar/portfolio/dto/project/response/ProjectResponseDto.java
  server/src/main/java/com/konkuk/soar/portfolio/repository/PortfolioBookmarkRepository.java
  server/src/main/java/com/konkuk/soar/portfolio/repository/PortfolioFileRepository.java
  server/src/main/java/com/konkuk/soar/portfolio/repository/PortfolioRepository.java
  server/src/main/java/com/konkuk/soar/portfolio/repository/PortfolioTagRepository.java
  server/src/main/java/com/konkuk/soar/portfolio/repository/project/ProjectFileRepository.java
  server/src/main/java/com/konkuk/soar/portfolio/repository/project/ProjectRepository.java
  server/src/main/java/com/konkuk/soar/portfolio/repository/project/ProjectStudyHistoryRepository.java
  server/src/main/java/com/konkuk/soar/portfolio/service/PortfolioService.java
  server/src/main/java/com/konkuk/soar/portfolio/service/ProjectService.java
  server/src/main/java/com/konkuk/soar/portfolio/service/SimplePortfolioService.java
  server/src/main/java/com/konkuk/soar/portfolio/service/SimpleProjectService.java
  server/src/main/java/com/konkuk/soar/studyhistory/controller/StudyHistoryController.java
  server/src/main/java/com/konkuk/soar/studyhistory/dto/request/StudyHistoryCreateDto.java
  server/src/main/java/com/konkuk/soar/studyhistory/dto/response/StudyHistoryCalendarDto.java
  server/src/main/java/com/konkuk/soar/studyhistory/dto/response/StudyHistoryOverviewDto.java
  server/src/main/java/com/konkuk/soar/studyhistory/dto/response/StudyHistoryResponseDto.java
  server/src/main/java/com/konkuk/soar/studyhistory/repository/StudyHistoryFileRepository.java
  server/src/main/java/com/konkuk/soar/studyhistory/repository/StudyHistoryRepository.java
  server/src/main/java/com/konkuk/soar/studyhistory/repository/StudyHistoryTagRepository.java
  server/src/main/java/com/konkuk/soar/studyhistory/service/SimpleStudyHistoryService.java
  server/src/main/java/com/konkuk/soar/studyhistory/service/StudyHistoryService.java
  server/src/main/resources/data.sql
Labels: enhancement, server

#85 background 필드 Project -> Portfolio로 변경 (#84)
  server/src/main/java/com/konkuk/soar/portfolio/domain/portfolio/Portfolio.java
  server/src/main/java/com/konkuk/soar/portfolio/domain/project/Project.java
  server/src/main/java/com/konkuk/soar/portfolio/dto/portfolio/request/PortfolioCreateDto.java
  server/src/main/java/com/konkuk/soar/portfolio/dto/portfolio/response/PortfolioResponseDto.java
  server/src/main/java/com/konkuk/soar/portfolio/dto/project/request/ProjectCreateDto.java
  server/src/main/java/com/konkuk/soar/portfolio/service/SimplePortfolioService.java
  server/src/main/java/com/konkuk/soar/portfolio/service/SimpleProjectService.java
  server/src/main/resources/data.sql
Labels: enhancement, server

#87 포트폴리오 API 수정
  server/src/main/java/com/konkuk/soar/common/config/OAuth2LoginSecurityConfig.java
  server/src/main/java/com/konkuk/soar/member/controller/MemberController.java
  server/src/main/java/com/konkuk/soar/portfolio/controller/PortfolioController.java
  server/src/main/java/com/konkuk/soar/portfolio/domain/portfolio/Portfolio.java
  server/src/main/java/com/konkuk/soar/portfolio/domain/project/Project.java
  server/src/main/java/com/konkuk/soar/portfolio/dto/portfolio/request/PortfolioCreateDto.java
  server/src/main/java/com/konkuk/soar/portfolio/dto/portfolio/response/PortfolioResponseDto.java
  server/src/main/java/com/konkuk/soar/portfolio/dto/project/request/ProjectCreateDto.java
  server/src/main/java/com/konkuk/soar/portfolio/service/PortfolioService.java
  server/src/main/java/com/konkuk/soar/portfolio/service/SimplePortfolioService.java
  server/src/main/java/com/konkuk/soar/portfolio/service/SimpleProjectService.java
  server/src/main/resources/data.sql
Labels: enhancement, server

#88 포트폴리오 평가 API 구현
  server/src/main/java/com/konkuk/soar/portfolio/controller/PortfolioController.java
  server/src/main/java/com/konkuk/soar/portfolio/domain/portfolio/PortfolioReview.java
  server/src/main/java/com/konkuk/soar/portfolio/dto/portfolio/request/PortfolioReviewCreateDto.java
  server/src/main/java/com/konkuk/soar/portfolio/dto/portfolio/response/PortfolioOverviewDto.java
  server/src/main/java/com/konkuk/soar/portfolio/dto/portfolio/response/PortfolioResponseDto.java
  server/src/main/java/com/konkuk/soar/portfolio/service/PortfolioService.java
  server/src/main/java/com/konkuk/soar/portfolio/service/SimplePortfolioService.java
Labels: enhancement, server
